# Local files
.ipynb_checkpoints
__pycache__
figures_deprecated.ipynb
figures_additional.ipynb
recombination.ipynb
analysis.jpynb
test_simulation_with_various_settings.ipynb
scp_commands.ipynb

# Large directories
data
jobs
test_figures

